.read_left
  float: left
  width: 200px
  border: 1px solid #f00
  padding: 20px 0px

.read_left_item
  list-style: none
  height: 40px

.read_right
  float: right
  width: 800px
  height: 100%
  border: 1px solid #f00

.grid_group
  width: 96%
  height: 300px
  margin: 0 auto
  background: #ccc
