.read_left
  float: left
  width: 200px
  border: 1px solid #f00
  padding: 20px 0px

.read_left_item
  list-style: none
  height: 40px

.read_right
  float: right
  width: 860px
  height: 100%


.grid_group
  width: 96%
  height: 300px
  margin: 0 auto

.grid_group_item
  width: 33%
  height: 500px
  border: 0px solid #f00
  background: url('/img/09.jpg')
